<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form">
    <h3>Current Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly />
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" required/>
    </div>
    <div class="row">
        <label for="author-select">Author:</label>
        <select id="author-select" name="author-id">
        </select>
    </div>

    <div class="row">
        <label for="genre-select">Genre:</label>
        <select id="genre-select" name="genre-id">
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="/books"><button type="button">Go to book's list</button></a>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const params = new URLSearchParams(window.location.search);
        const bookId = params.get('id');

        try {
            const bookResponse = await fetch(`/api/books/${bookId}`);
            if (!bookResponse.ok) {
                throw new Error('Ошибка загрузки книги');
            }
            const book = await bookResponse.json();
            document.getElementById('id-input').value = book.id;
            document.getElementById('book-title-input').value = book.title;

            const authorsResponse = await fetch('/api/authors');
            if (!authorsResponse.ok) {
                throw new Error('Ошибка загрузки авторов');
            }
            const authors = await authorsResponse.json();
            authors.forEach((author) => {
                const option = document.createElement('option');
                option.value = author.id;
                option.text = author.fullName;
                document.getElementById('author-select').appendChild(option);
            });
            document.getElementById('author-select').value = book.author.id;
            const genresResponse = await fetch('/api/genres');
            if (!genresResponse.ok) {
                throw new Error('Ошибка загрузки жанров');
            }
            const genres = await genresResponse.json();
            genres.forEach((genre) => {
                const option = document.createElement('option');
                option.value = genre.id;
                option.text = genre.name;
                document.getElementById('genre-select').appendChild(option);
            });
            document.getElementById('genre-select').value = book.genre.id;
            document.getElementById('edit-form').addEventListener('submit', async (event) => {
                event.preventDefault();

                const authorSelect = document.getElementById('author-select');
                const author = {
                    id: Number.parseInt(authorSelect.value),
                    fullName: authorSelect.options[authorSelect.selectedIndex].text
                };

                const genreSelect = document.getElementById('genre-select');
                const genre = {
                    id: Number.parseInt(genreSelect.value),
                    name: genreSelect.options[genreSelect.selectedIndex].text
                };

                const formData = {
                    id: book.id,
                    title: document.getElementById('book-title-input').value,
                    author: author,
                    genre: genre
                };

                const putResponse = await fetch(`/api/books/${formData.id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                });

                if (putResponse.ok) {
                    alert('Книга успешно обновлена!');
                    window.location.href = "/books";
                } else {
                    alert('Ошибка обновления книги');
                }
            });
        } catch (err) {
            alert(err.message);
        }
    });
</script>

</body>
</html>