<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Are you sure delete the book:</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="delete-form" th:method="post" action="#"  th:action="@{'/deleteBook/' + ${book.id}}"
      th:object="${book}">
    <h3>Deleted Book Info:</h3>

    <div class="row">
        <label for="id">ID:</label>
        <input id="id" readonly="readonly" type="text" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-title">Title:</label>
        <input id="book-title" readonly="readonly" name="title" type="text" value="Default title" th:value="*{title}"/>
    </div>
    <div class="row">
        <label for="book-author">Author:</label>
        <input id="book-author" readonly="readonly" name="author" type="text" value="Author full name" th:value="*{author.fullName}"/>
    </div>
    <div class="row">
        <label for="book-genre">Genre:</label>
        <input id="book-genre" readonly="readonly" name="genre" type="text" value="Genre name" th:value="*{genre.name}"/>
    </div>

    <div class="row">
        <button type="submit">Delete</button>
        <a href="allBooks.html" th:href="@{/books}"><button type="button">Go to book's list</button></a>
    </div>
</form>

</body>
</html>