<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" action="editBook.html" th:method="post" th:action="@{'/editBook/' + ${book.id}}"
      th:object="${book}">
    <h3>Current Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Default title" th:value="*{title}"/>
    </div>
    <div class="row">
        <label for="author">Author:</label>
        <select id="author" th:field="*{author.id}">
            <option th:each="a : ${authors}" th:value="${a.id}" th:text="${a.fullName}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre">Genre:</label>
        <select id="genre" th:field="*{genre.id}">
            <option th:each="g : ${genres}" th:value="${g.id}" th:text="${g.name}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="allBooks.html" th:href="@{/books}"><button type="button">Go to book's list</button></a>
    </div>
</form>

</body>
</html>
